*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --btn-color: #ED6755;
    --btn2-color: #2c3e50;
}
body{
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}
div{
    background-color: white;
    width: 432px;
    height: 399px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
}
.cuadro1 article{
    width: 250px;
}
.btn{
    background-color: var(--btn-color);
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
a{
    text-decoration: none;
    color: white;
    /* margin: 50px 20px; */
}
.btn2{
    background-color: var(--btn2-color);
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
p{
    color: gray;
    position:relative;
    top: -40px;
    left: 180px;
    cursor: pointer;
    /* background-color: red; */
}